fastapi
uvicorn
pandas
numpy
scikit-learn
scipy
sentence-transformers
faiss-cpu
keybert
transformers
torch
python-dotenv
google-genai
requests
gradio
openpyxl
pyarrow
jupyter
notebook
matplotlib
seaborn
nltk
